.iconosPublicacion {
  height: 0.7cm;
  width: 0.7cm;

}

.listaUsuarios{
 position: absolute;
 max-height: 250px;
 width: 85% !important;
}

.scroll{
  overflow-y: scroll;
}
.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-buttons
{
  max-height: 56px;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .extraInfo { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .logo { display: none; }  /* show it on small screens */
}

