
  <ion-header [translucent]="true">
    <ion-toolbar style="max-height: 60px;">
      <ion-row style="max-height: 60px;">

        <ion-col size-xs="1" class="ion-no-padding">
          <ion-row style="display: flex;" class="ion-justify-content-around">
            <ion-buttons >
              <ion-back-button  class="pointer" text=""></ion-back-button>
            </ion-buttons>
            <ion-buttons  routerLink = "/home" class="logo">
              <ion-item lines="none">
                <ion-avatar class="test">
                  <img src="../../../assets/icon/Logo.png">
                </ion-avatar>
              </ion-item>
            </ion-buttons>
          </ion-row>
        </ion-col>

        <ion-col size-xs="6" size-sm ="7" size-md="8" size-xl ="9" class="ion-no-padding">
          <ion-searchbar autocomplete="on" (click)="dontShow=false" [formControl]="searchBar" placeholder="Buscar usuarios registrados" showCancelButton="never" cancelButtonText="Custom Cancel" style="padding-top: 7px;"></ion-searchbar>
        </ion-col>

        <ion-col size-xs="5" size-sm ="4" size-md="3" size-xl ="2" class="ion-no-padding">
          <ion-row style="display: flex;" class="ion-justify-content-around">
            <ion-buttons routerLink="/perfil/{{userID}}">
              <ion-avatar class="center avatar-class">
                <img style="height: 40px; width: 40px; margin:0px" [src]="userImage" class="iconosPublicacion">
              </ion-avatar>
            </ion-buttons>
            <ion-buttons  [routerLink]="['../interes']" class="extraInfo">
              <ion-avatar class="center">
                  <ion-icon name="notifications-outline" style="min-width: 30px; min-height: 30px;"></ion-icon>
              </ion-avatar>
            </ion-buttons>
            <ion-buttons>
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
          </ion-row>
        </ion-col>

      </ion-row>
   </ion-toolbar>
  </ion-header>
  <ion-toolbar class="listaUsuarios scroll" *ngIf="searching">
    <ion-list >
      <ion-item *ngFor="let usuario of searchResult | async" >
        <div style="display: flex; justify-content: center;" routerLink="/perfil/{{usuario.idPersona}}">
          <ion-avatar>
            <img [src]="usuario.imagenPerfil">
          </ion-avatar>
        </div>
        {{ usuario.nombre }} 
      </ion-item>
    </ion-list>
  </ion-toolbar>
