<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/home']" class="pointer">
      <ion-item>
        <ion-avatar>
          <img src="../../../assets/icon/Logo.png">
        </ion-avatar>
      </ion-item>
    </ion-buttons>
    <ion-searchbar slot="primary" showCancelButton="focus"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="../../../assets/icon/1024px-User-avatar.svg.png" class="iconosPublicacion">
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="../../../assets/icon/notifications-outline.svg" class="iconosPublicacion">
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="../../../assets/icon/caret-down-outline.svg" class="iconosPublicacion">
      </ion-avatar>
    </ion-buttons>

  <ion-buttons>
    <ion-button slot="end">

    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
