<app-navbar></app-navbar>

<ion-content>
  <div>
    <ion-card class="card-profile">
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="3" sizeMd="6" size="6" style="padding-right: 2rem;">
            <div>
              <ion-avatar class="avatar">
                <img [src]="perfil?.usuario.imagenPerfil">
              </ion-avatar>
            </div>
          </ion-col>
          <ion-col class="user-info" sizeLg="3" sizeMd="6" sizeSm="6" size="6">
            <ion-item lines="none" mode="ios">
              <ion-label>{{perfil?.usuario.nombre+' '+ perfil?.usuario.apellido}}</ion-label>
            </ion-item>
            <ion-item lines="none" mode="ios">
              <ion-label style="color: var(--ion-color-medium);">@{{perfil?.usuario.nickname}}</ion-label>
            </ion-item>
            <ion-item href="/listar-contactos" lines="none">
              <ion-label>Contactos</ion-label>
              <ion-badge slot="end">{{contactos}}</ion-badge>
            </ion-item>
            <ion-item lines="none" mode="ios">
              <ion-label>Pais: {{perfil?.usuario.pais}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col sizeLg="3" sizeMd="6" sizeSm="6" size="6">
            <app-medalla [medalla] = "medalla"></app-medalla>
          </ion-col>
          <ion-button *ngIf="!esMiPerfil" (click)="agregarContacto()">{{textoBoton}}</ion-button>
          <ion-col sizeLg="3" sizeMd="2" sizeSm="6" size="6">
            <ion-button class="edit-button" routerLink="/modificar-perfil" color="dark" size="small" fill="clear" *ngIf="esMiPerfil">
              Editar
              <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
            <ion-button class="mis-ubicaciones-button" color="dark" size="small" fill="clear" routerLink="/visualizar-ubicaciones/{{perfil?.usuario.idPersona}}">
              <ion-icon slot="icon-only" name="earth-outline"></ion-icon>
              Ubicaciones
            </ion-button>
            <ion-button class="deleteAccount-button" color="dark" size="small" fill="clear" (click)="deleteAccount()" *ngIf="esMiPerfil" >
              <ion-icon slot="icon-only" name="person"></ion-icon>
              Borrar mi cuenta
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <div class="publicaciones">
      <ion-grid class="grid" fixed>
        <ion-row>
          <ion-col offset-md="0" sizeMd="12" sizeSm="12"><app-feed
            [publicaciones] = "publicaciones"
            [usuario] = "usuario"
            ></app-feed>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</div>
</ion-content>
