
.section-title {
  font-weight: bold;
  font-size: large;
}

.galeria {
  height: 120px;
  padding-right: 5px;
}

.avatar {
  margin-left: 25%;
  height: 150px;
  width: 150px;
  --border-radius: 80px;
  border: 1px solid black;
  }

.card-profile{
  width: 50%;
  margin-left: 25%;
  background-color: white;
}

.user-info{
  font-size: 20px;
  margin-top: 25px;
}

.publicaciones{
  width: 50%;
  margin-left: 25%;
}


.grid{
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.edit-button{
  margin-left: 15%;
  text-align: end;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media(max-width: 500px){
  .publicaciones{
    width: 100%;
    margin-left: 0;
  }

  .card-profile{
    width: 100%;
    margin-left: 0;
  }

  .button-list{
    position:absolute;
    margin-left: -30%;
    text-align: end;
  }
  

  .mis-ubicaciones-button{        
    margin-top: 0;
  }

  @media(max-width: 700px){
    .publicaciones{
      width: 100%;
      margin-left: 0;
    }
    .button-list{
      text-align: center;
    }

    .card-profile{
      width: 100%;
      margin-left: 0;
    }

  .avatar {
    margin-left: 0px;
    }

    .mis-ubicaciones-button{
      font-size: 15px;
    }


    .edit-button{
      font-size: 15px;
    }

    .avatar {
      margin-left: 25px; 
      margin-top: 25px;
      }
  }
}
