<div class="publicacion-wrapper" *ngFor="let publicacion of publicaciones.value">
  <ion-row class="wrapper">
    <ion-card class="card">
      <ion-col *ngIf="userFire.id == usuario.value.idPersona" class="edit-publicacion" size="1">
        <ion-icon class="edit-publicacion-icon" (click)="presentPopover( $event, publicacion )" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="5">
        <table style="width:100%">
          <tr>
          <td style="width:8%">
            <ion-avatar class="user-avatar">
              <ion-img size="2" [src]="usuario.value.imagenPerfil"></ion-img>
            </ion-avatar>
          </td>
          <td>
            <span class="name">{{this.usuario.value.nombre +" "+ this.usuario.value.apellido}}</span>
            <br>
            <span class="handle">@{{this.usuario.value.nickname}}</span>
          </td>
          </tr>
        </table>
      </ion-col>
      <ion-col  size="6">
        <ion-row>
          <ion-col size="12">
            <div class="contenido-publicacion" *ngIf="publicacion.tipo.tipo === 'texto'">
              <ion-label>{{ publicacion.contenido }}</ion-label>
            </div>
            <div *ngIf="publicacion.tipo.tipo === 'foto'">
              <img id="foto" src="{{publicacion.contenido}}">
            </div>
            <div style="text-align:center" *ngIf="publicacion.tipo.tipo === 'mapa'">
              <img [src]="obtenerUbicacion(publicacion)" alt="Mapa"/>
            </div> 
            <div *ngIf="publicacion.tipo.tipo === 'enlaceExterno'">
              <app-pub-mapa-ee [publicacion] = "publicacion"></app-pub-mapa-ee>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-start">
          <!-- <ion-col class="reaccion-col">
            <ion-button class="reacciones" fill="clear" size="small" (click)="like(publicacion)">
              <ion-icon class="reaccion-icon" name="thumbs-up-outline" *ngIf="publicacion.cantidadLikes+1" slot="start"></ion-icon>
              <ion-icon name="thumbs-up" *ngIf="!like" slot="start"></ion-icon>
              {{publicacion.cantidadLikes}}
            </ion-button>
          </ion-col>
          <ion-col class="reaccion-col">
            <ion-button class="reacciones" fill="clear" (click)="dislike(publicacion)" size="small">
              <ion-icon class="reaccion-icon" name="thumbs-down-outline" *ngIf="publicacion.cantidadDislikes+1" slot="start"></ion-icon>
              
              {{publicacion.cantidadDislikes}}
            </ion-button>
          </ion-col>
          <ion-col class="reaccion-col">
            <ion-button routerLink="/comentarios-publicacion/{{publicacion.idPublicacion}}" class="reacciones" fill="clear" size="small">
              <ion-icon class="reaccion-icon" name="chatbubble-outline" slot="start"></ion-icon>
              {{publicacion.cantidadComentarios}}
            </ion-button>
          </ion-col> -->
          <ion-button style="display: block;margin-left: auto;" href="/comentarios-publicacion/{{publicacion.idPublicacion}}" color="dark" fill="clear" shape="round" (click)="cargoPublicacion(publicacion)">
            Ver más 
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-card>
  </ion-row>
</div>
<ion-card >
  <ion-card-content style="background-color: white;" *ngIf="publicaciones.value.length == 0">
    <img style="height: 15rem; margin-left: auto;margin-right: auto; display: block;" src="../../assets/img/lobito.png">
    <ion-label style="text-align: center; display: block;">Aún no hay publicaciones :(</ion-label>
  </ion-card-content>
</ion-card>
