<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-xs="12" size-md="10" offset-md="1">
          <ion-card>
            <ion-card-content>
              <ion-toolbar>
                <ion-buttons >
                  <ion-back-button  class="pointer" text=""></ion-back-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-card-title>Travel Pack</ion-card-title>
              <ion-list class="form-input">
                <ion-row>
                  <ion-label id="full">
                    Ingresa tu dirección de correo electrónico y se te enviara un correo para recuperar tu contraseña.
                  </ion-label>
                </ion-row>
                <ion-item>
                  <!-- <ion-input type="email" placeholder="Email" #txtEmail></ion-input> -->
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel" placeholder="Dirección de correo electrónico"></ion-input>
                </ion-item>
                <ion-item
                *ngIf="!emailCtrl.valid && emailCtrl.touched"
                lines="none"
              >
                <ion-label>
                  Debe de ser un correo valido.
                </ion-label>
              </ion-item>
                <ion-row>
                  <ion-col>
                    <ion-button type="submit" style="display: block;" fill="outline" [disabled]="!f.valid">
                      Enviar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
