<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" >
          <ion-card style="background: white">
            <ion-card-header color=tertiary style="background:#022833">
              <ion-card-title  class="ion-text-center header">Configuración de Notificaciones PUSH</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list *ngFor="let config of configuracionAMostrarPush | keyvalue">
                <ion-item >
                  <ion-label> {{ config.key }} </ion-label>
                  <ion-checkbox place-right checked={{config.value}} (ionChange)="checkedChanged($event, config.key)"></ion-checkbox>
                </ion-item>
              </ion-list>
              <ion-item>
                <ion-button style="--background:#3f83a8" slot="end" (click)="onAplicar()">APLICAR</ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
