<!-- <app-navbar></app-navbar> -->
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="estadisticas">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Estadisticas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tabIntereses">
        <ion-icon name="sparkles-outline"></ion-icon>
        <ion-label>Intereses</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="tabMedallas">
        <ion-icon name="medal-outline"></ion-icon>
        <ion-label>Medallas</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="tabGestionUsuarios">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Gestion de Usuarios</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tabPerfilAdminPage">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Mi cuenta</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tabRegistrarAdministrador">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Registrar Administrador</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
