<ion-content>
  <ion-card class="welcome-card" >
    <ion-card-header>
      <ion-card-subtitle>Cantidad de usuarios en la app</ion-card-subtitle>
      <ion-card-title>TravelPack</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      Ranking Usuarios con mas visitas a paises
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      Cantidad de usuarios por Medalla
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Usuarios Por Paises
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
