.welcome-card{
    background-color: white;
}

.wrapper{
    display: grid;
  grid-template-columns: auto auto;
}

.header{
    font-family: 'big_noodle_titling';  
    color:#212211;
    font-size: 25px;
  }