.sinImagenes
{

}

.header{
    font-family: "big_noodle_titling";
    font-size: 25px;
    text-align: center; 
    flex-grow: 1; 
    flex-direction: row; 
    margin-top: 0px; 
    vertical-align: middle; 
    display: inline-block; 
    line-height: normal;
}
@media (max-width: 600px){
    .mobile-style{
      display:none;
    }
  }