
<ion-content>
  <ion-grid style="padding: 0%;">
    <ion-row>
      <ion-col size="8" style="padding: 0%;">
        <div>
          <ion-img src="../../assets/img/login.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <ion-card>
            <ion-card-content>
              <ion-card-title>Travel Pack</ion-card-title>
              <ion-list class="form-input">
                <ion-item>
                  <ion-input type="email" placeholder="Email" #txtNickname></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="password" placeholder="Contraseña" #txtPassphrase></ion-input>
                </ion-item>
                <ion-row>
                  <ion-col>
                    <ion-button fill="outline" href="/perfil">
                      Login
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button fill="outline" href="/registro">
                      Registro
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-label>¿Olvidaste tu contraseña?</ion-label>
                </ion-row>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
