
<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" style="height: 100vh;" (keyup.enter)="onSubmit(f)">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <div style="height: 100vh; background-size: cover; position: absolute; opacity: 0.7;">
          <ion-img src="../../assets/img/login.png" style="width: 30rem;"></ion-img>
        </div>
          <ion-col size-lg="5" size-md="7" size-sm="8" size-xs="10">
            <div class="test">
              <ion-card style="max-width: 550px; flex-grow: 1; margin-top: 200px; background-color:white">
                <ion-card-content class="card-login">
                  <ion-card-title style="font-family: 'big_noodle_titling'; font-size:25px;">TravelPack</ion-card-title>
                  <ion-list class="form-input">
                    <ion-item>
                      <ion-label position="floating" >Correo</ion-label>
                      <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
                    </ion-item>
                    <ion-item
                    *ngIf="!emailCtrl.valid && emailCtrl.touched"
                    lines="none"
                  >
                    <ion-label>
                      Debe de ser un correo valido.
                    </ion-label>
                  </ion-item>
                    <ion-item>
                      <ion-label position="floating" >Contraseña</ion-label>
                      <ion-input type="password" ngModel required minlength="6" name="password" #passwordCtrl="ngModel"></ion-input>
                    </ion-item>
                    <ion-item
                    *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
                    lines="none"
                  >
                    <ion-label>
                      Debe de contener al menos 6 caracteres.
                    </ion-label>
                  </ion-item>
                    <ion-row>
                      <ion-col>
                        <div style="display: flex; justify-content: space-around; margin: 10px 0;">
                          <ion-button fill="outline" type= "submit" [disabled]="!f.valid" style="width: 120px;">
                            Acceder
                          </ion-button>
                          <ion-button fill="outline" routerLink="/registro">
                            Registro
                          </ion-button>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <div [routerLink]="['../recuperar-password']">
                        <ion-label id="hover">¿Olvidaste tu contraseña?</ion-label>
                      </div>
                    </ion-row>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </div>

          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
