ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-card-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#hover
{
  cursor: pointer;
}
.background
{
  background-image: "../../assets/img/login.png";
  background-size: cover;
  background-repeat: no-repeat;
}
.test
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: auto;
}
