ion-content {

  h1 {
    margin-left: 15px;
  }

  ion-item {
    max-width:  100%;

    ion-icon {
      float: right;
    }
  }
}

ion-backdrop {
  opacity: 0.3;
}
.modal-wrapper {
  height: 70%;
  width: 60%;
}

