#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .tweet-info {
    font-size: 0.9em;
  }
  
  .name {
    font-weight: 600;
  }
  
  .handle {
    padding-left: 4px;
    color: var(--ion-color-medium);
    font-family: Gotham;
    font-size: 18px;
  }

  .contenido-publicacion{
    font-family: Georgia;
    font-size: 16px;
    color: #212221;
  }
  
  .wrapper {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: white;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .highlight {
    color: var(--ion-color-primary);
  }
  
  .preview-img {
    border: 1px solid var(--ion-color-light);
    border-radius: 10px;
  }