<div *ngFor="let publicacion of publicaciones">
  <ion-row class="wrapper" *ngIf="publicacion.tipo.tipo != 'mapa'">
    <ion-col size="2">
      <ion-avatar>
        <ion-img [src]=publicacion.imagenPerfil></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="10">
      <ion-row class="tweet-info">
        <ion-col size="10">
          <!-- <span class="name">{{usuarios[i]?.nombre}} {{usuarios[i]?.apellido}}</span> -->
          <br>
          <span class="handle">@{{publicacion.nickname}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div *ngIf="publicacion.tipo.tipo === 'texto'">
            <ion-label>{{ publicacion.contenido }}</ion-label>
          </div>
          <div *ngIf="publicacion.tipo.tipo === 'foto'">
            <img id="foto" src="{{publicacion.contenido}}">
          </div>
          <div *ngIf="publicacion.tipo.tipo === 'enlaceExterno'">
            <app-pub-ee [publicacion]="publicacion"></app-pub-ee>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-start">
        <ion-col>
          <ion-button fill="clear" size="small">
            <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
            {{publicacion.cantidadLikes}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" size="small">
            <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
            {{publicacion.cantidadDislikes}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" color="medium" size="small">
            <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
            {{publicacion.cantidadComentarios}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
<ion-infinite-scroll threshold="15%" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>