<app-navbar></app-navbar>

<!-- PUBLICACION -->

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col style="min-width: 50%;" offset-md="3" sizeMd="5" sizeSm="12">
        <ion-row class="wrapper">
          <ion-col size="2">
            <ion-avatar>
              <ion-img routerLink="/perfil/{{publicacion.idPersona}}" [src]=publicacion.imagenPerfil></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="10">
            <ion-row class="tweet-info">
              <ion-col size="10">
                <!-- <span class="name">{{usuarios[i]?.nombre}} {{usuarios[i]?.apellido}}</span> -->
                <br>
                <span class="handle">@{{publicacion.nickname}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="contenido-publicacion" *ngIf="boolEsTexto">
                  <ion-label>{{ publicacion.contenido }}</ion-label>
                </div>
                <div *ngIf="boolEsFoto">
                  <img id="foto" src="{{publicacion.contenido}}">
                </div>
                <div *ngIf="boolEsEnlace">
                  <ion-card class="card">
                    <ion-card-header>
                      <ion-card-title style="font-weight: bold;" [innerHtml]="preview.title"></ion-card-title>
                      <img style="max-height: 10rem;" [src]="preview.image">
                    </ion-card-header>
                    <ion-card-content [innerHtml]="preview.description"></ion-card-content>
                  </ion-card>
                </div>
                <div *ngIf="boolEsMapa">
                  <img [src]="obtenerUbicacion(publicacion)" alt="Mapa"/>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-start">
              <ion-col size="12">
                <ion-card class="card">
                  <ion-button (click)="reaccionarAPublicacion('MeGusta')" fill="clear" size="small">
                    <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
                    {{cantReacciones.cantidadLikes}}
                  </ion-button>
    
                  <ion-button (click)="reaccionarAPublicacion('NoMeGusta')" fill="clear" size="small">
                    <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
                    {{cantReacciones.cantidadDislikes}}
                  </ion-button>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      
    
    <ion-row>
      <ion-col size="12">

        <!-- AGREGAR COMENTARIO -->

        <ion-card style="background-color: white;">
          <ion-card-content>
              <ion-item>
                <ion-input type="text" id="input-reason" [(ngModel)]="comentarioDeForm" placeholder="Comenta algo"></ion-input>
              </ion-item>
              <ion-button style="float: right;" block color="primary" type="submit" (click)="aniadirComentarioAPublicacion()" [disabled]="enableCreate()" >
                Comentar
              </ion-button>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

        <!-- COMENTARIOS  -->
        <ion-card class="card" *ngIf="boolVerComentarios">
          <ion-card-header>Comentarios:</ion-card-header>
          <ion-list>
            <ion-item *ngFor="let comentario of comentariosReaccionesObs | async">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="10">
                    <ion-label text-wrap *ngIf="comentario.idComentarioPadre === null"> {{ comentario.contenido }}
                    </ion-label>
                    <ion-label text-wrap style="padding-left: 8%;" *ngIf="comentario.idComentarioPadre !== null"> {{
                      comentario.contenido }} </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon class="edit-publicacion-icon" (click)="presentPopover( $event, comentario )"
                      name="ellipsis-horizontal-circle-outline"></ion-icon>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-button *ngIf="comentario.idComentarioPadre === null" (click)="reaccionarComentario(comentario, 'MeGusta')" fill="clear" size="small">
                      <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
                      {{comentario.cantidadLikes}}
                    </ion-button>

                    <ion-button  *ngIf="comentario.idComentarioPadre === null" (click)="reaccionarComentario(comentario, 'NoMeGusta')" fill="clear" size="small">
                      <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
                      {{comentario.cantidadDislikes}}
                    </ion-button>

                    <ion-button style="padding-left: 7%;" *ngIf="comentario.idComentarioPadre !== null" (click)="reaccionarComentario(comentario, 'MeGusta')" fill="clear" size="small">
                      <ion-icon name="thumbs-up-outline" slot="start"></ion-icon>
                      {{comentario.cantidadLikes}}
                    </ion-button>

                    <ion-button style="padding-left: 7%;" *ngIf="comentario.idComentarioPadre !== null" (click)="reaccionarComentario(comentario, 'NoMeGusta')" fill="clear" size="small">
                      <ion-icon name="thumbs-down-outline" slot="start"></ion-icon>
                      {{comentario.cantidadDislikes}}
                    </ion-button>

                    <ion-button (click)="aniadirComentarioAComentario(comentario)" fill="clear" size="small"
                      *ngIf="comentario.idComentarioPadre === null">
                      <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
                      {{comentario.comentariosHijos.length}}
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-card *ngIf="!boolVerComentarios">
      <ion-card-content style="background-color: white;" *ngIf="cantReacciones?.cantidadComentarios == 0">
        <img style="height: 15rem; margin-left: auto;margin-right: auto; display: block;" src="../../assets/img/lobito.png">
        <ion-label style="text-align: center; display: block;">Aún no hay comentarios :(</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
  </ion-grid>
  

</ion-content>
<ion-footer style="height: 28px;" class="mobile-style">
  <ion-toolbar>
    <ion-title style="padding-bottom: 22px; font-size: 16px;">TravelPack © 2021</ion-title>
  </ion-toolbar>
</ion-footer>