.card{
    background: white;
    min-width: 100%;
    margin-left: 0px;
    position:relative;
  }

  .card-text{
    background: white;
    min-width: 100%;
    position:relative;
    margin: 15px;
    margin-left: 0;
    margin-bottom: 0px;
  }

  .handle {
    padding-left: 4px;
    color: var(--ion-color-medium);
    font-family: Gotham;
    font-size: 18px;
  }

  .inner-text{
    margin:20px;
    display:block;    
  }

  .texto{
    font-family: Georgia;
    font-size: 16px;
    color: #212221;
  }
  @media (max-width: 600px){
    .mobile-style{
      display:none;
    }
  }
  .reacciones{
    margin-top:0;
  }

  .wrapper {
    border-bottom: 1px solid var(--ion-color-light);
    background: white;
    //margin-bottom: 15px;
    border-radius: 10px;
  }

  .handle {
    padding-left: 4px;
    color: var(--ion-color-medium);
    font-family: Gotham;
    font-size: 18px;
  }

  .tweet-info {
    font-size: 0.9em;
  }