<ion-header [translucent]="true" *ngIf="creando || editando">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" class="pointer" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>{{ editando ? 'Editar' : 'Alta' }} Evento</ion-title>
  </ion-toolbar>
</ion-header>

<app-navbar *ngIf="!creando && !editando"></app-navbar>


<ion-content *ngIf="creando || editando">
  <ion-grid class="main-grid">
    <ion-row>
      <ion-col size="4" size-md="2" size-xs="12">
        <ion-label>Nombre</ion-label>
      </ion-col>
      <ion-col size="8" size-md="5" size-lg="3" size-xs="12">
        <ion-input type="text" [(ngModel)]="evento.nombre" placeholder="Ej: Recorrido por la ciudad"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" size-md="2" size-xs="12">
        <ion-label>Descripción</ion-label>
      </ion-col>
      <ion-col size="8" size-md="5" size-lg="3" size-xs="12">
        <ion-textarea rows="4" [(ngModel)]="evento.descripcion" placeholder="Descripción">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" size-md="2" size-xs="12">
        <ion-label>Imagen</ion-label>
      </ion-col>
      <ion-col size="8" size-md="5" size-lg="3" size-xs="12">
        <label for="fileInput" class="label-input cursor"><ion-icon name="camera-outline" slot="icon-only"></ion-icon></label>
        <img [src]="imageSource" style="width: 100%; min-height: 100px;" *ngIf="evento.imagen">
          <input type="file" id="fileInput" (change)="uploadFile($event)" class="ion-hide" accept="image/*"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" size-md="2" size-xs="12">
        <ion-label>Ubicación</ion-label>
      </ion-col>
      <ion-col id="mapa" size="8" size-md="5" size-lg="3" size-xs="12">
        <app-mapa [currentLocation]="true" [ubiCentral]="ubicacion" [marcarUbicacion]="true" [draggable]="true" [buscador]="true" (ubicacion)="marcarUbicacion($event)"></app-mapa>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" size-md="2" size-xs="12">
        <ion-label>Inicio</ion-label>
      </ion-col>
      <ion-col class="datepicker" size="7" size-md="3" size-lg="2" size-xs="10">
        <ion-datetime #pickerInicio [min]="inicio" [(ngModel)]="inicio" (ionChange)="setMinFin($event)">
        </ion-datetime>
      </ion-col>
      <ion-col class="datepicker-icon" size="1" size-md="1" size-lg="1" size-xs="2">
        <ion-icon name="calendar-outline" size="large" (click)="pickerInicio.open()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" size-md="2" size-xs="12">
        <ion-label>Fin</ion-label>
      </ion-col>
      <ion-col class="datepicker" size="7" size-md="3" size-lg="2" size-xs="10">
        <ion-datetime #pickerFin [min]="inicio" [(ngModel)]="fin">
        </ion-datetime>
      </ion-col>
      <ion-col class="datepicker-icon" size="1" size-md="1" size-lg="1" size-xs="2">
        <ion-icon name="calendar-outline" size="large" (click)="pickerFin.open()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8" size-md="5" size-lg="3" size-xs="12">
        <ion-button expand="block" color="primary" [disabled]="!isValid()" (click)="submit()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!creando && !editando">
  <ion-grid class="unpaddingX unpaddingX-cols">
    <ion-row>
      <ion-col size="12">
        <img [src]="evento.imagen" *ngIf="evento.imagen" class="full-width main-image"/>
      </ion-col>
    </ion-row>
    <ion-item>
        <ion-title>{{ evento.nombre }}</ion-title>
    </ion-item>
    <ion-item class="fechas-item">
          <p class="fechas">Del {{ evento.fechaInicio | date: 'dd-MM-yyyy'}} al {{ evento.fechaFin | date: 'dd-MM-yyyy' }}.</p>
    </ion-item>
    <ion-row>
      <ion-col>
        <p>{{ evento.descripcion }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="custom-tabs">
      <ion-col size="4" (click)="toggleTab('publicaciones')"><ion-icon name="happy-outline" size="large" color="blue"></ion-icon><br><ion-label>Publicaciones</ion-label></ion-col>
      <ion-col size="4" (click)="toggleTab('participantes')"><ion-icon name="people-outline" size="large"></ion-icon><br><ion-label>Participantes</ion-label></ion-col>
      <ion-col size="4" (click)="toggleTab('mapa')"><ion-icon name="map-outline" size="large"></ion-icon><br><ion-label>Mapa</ion-label></ion-col>
    </ion-row>
    <ion-row *ngIf="activeTab=='participantes'">
      <ion-col *ngIf="!evento.invitados || evento.invitados.length == 0">
        <span>No hay participantes en el evento</span>
      </ion-col>
      <ion-col *ngIf="evento.invitados && evento.invitados.length > 0">
        <span class="lstParticipantes pointer" *ngFor="let invitado of evento.invitados" >
          <img [src]="invitado.imagenPerfil" class="thumbnail" /> {{ invitado.nombre }} {{ invitado.apellido }}
        </span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="activeTab=='mapa'">
      <ion-col id="mapa">
        <app-mapa [currentLocation]="true" [ubiCentral]="ubicacion" [marcarUbicacion]="true" [draggable]="false" [buscador]="false" (ubicacion)="marcarUbicacion($event)"></app-mapa>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="activeTab=='publicaciones'">
      <ion-col *ngIf="!evento.publicaciones || evento.publicaciones.length == 0">
        <span>No hay publicaciones en el evento</span>
      </ion-col>
      <ion-col *ngIf="evento.publicaciones && evento.publicaciones.length > 0">
        <span class="lstParticipantes pointer" *ngFor="let publicaciones of evento.publicaciones" >
          <img [src]="publicaciones.imagen" class="thumbnail" /> {{ publicaciones.title }} {{ publicaciones.descripcion }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
