.main-grid, h1 {
  padding: 20px 20px 0 20px !important;
}

ion-input, ion-textarea, ion-img {
  border:  solid 1px #808786;
  border-radius: 5px;
}

ion-input::placeholder {
  color: grey;
  font-size: 1em;
  font-style: italic;
}

ion-col.datepicker {
  padding-right: 0;

  ion-datetime {
    border:  solid 1px #808786;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
ion-col.datepicker-icon {
  padding-left: 0;

  ion-icon {
    height: 100%;
    background: lighten(#91c6b8, 15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}

ion-img {
  overflow: hidden;
}

ion-textarea, ion-textarea textarea{
  min-height: 100px;
}

#mapa {
  width: 100%;
  min-height: 250px;
}


.fechas {
  width: 100%;
  text-align: center;

  p {
    background: lighten(#91c6b8, 15);
    padding: 10px;
  }
}

.unpaddingX, .unpaddingX-cols ion-col, ion-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

ion-item::part(native) {
  //WRITE ALL YOUR CSS RULES HERE
  padding-left: 0;
  /** and lots more **/
}
