.main-grid, h1 {
  padding: 20px 20px 0 20px !important;
}

ion-input, ion-textarea, ion-img {
  border:  solid 1px #808786;
  border-radius: 5px;
}

ion-input::placeholder {
  color: grey;
  font-size: 1em;
  font-style: italic;
}

.card-evento{
  background:white;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 600px){
  .mobile-style{
    display:none;
  }
}

// ion-row{
//   display: flex;
//   justify-content: center;
// }

.text-header{
  font-family: 'big_noodle_titling';
  font-size: 25px;
  color:#212211;
  margin-left: 8px;
}

ion-col.datepicker {
  padding-right: 0;

  ion-datetime {
    border:  solid 1px #808786;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
ion-col.datepicker-icon {
  padding-left: 0;

  ion-icon {
    height: 100%;
    background: lighten(#91c6b8, 15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}

ion-img {
  overflow: hidden;
}

ion-textarea, ion-textarea textarea{
  min-height: 100px;
}

#mapa {
  width: 100%;
  min-height: 250px;
}

.fechas-item {


  .fechas {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.unpaddingX, .unpaddingX-cols ion-col, ion-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

ion-item::part(native) {
  //WRITE ALL YOUR CSS RULES HERE
  padding-left: 0;

  /** and lots more **/
}

.custom-tabs {

  ion-col {
    text-align: center;

    ion-label {
      font-size: 0.7em;
    }
  }
}

.header{
  font-family: 'big_noodle_titling' !important;  
  color:#212211;
}


.thumbnail {
  max-width: 60px;
  border-radius: 10%;
  margin-right: 1em;
}

.ml-2 {
  margin-left: 10px;
}
@media(max-width: 745px){
  .card-evento{
    width: 100%;
  }
}

.wrapper {
  border-bottom: 1px solid var(--ion-color-light);
  background: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.tweet-info {
  font-size: 0.9em;
}

.handle {
  padding-left: 4px;
  color: var(--ion-color-medium);
  font-family: Gotham;
  font-size: 18px;
}