<ion-app>
  <ion-menu side="end" contentId="mainMenu">
    <ion-header>
      <ion-toolbar style="--min-height:100px">
        <ion-title style="min-height:100px" class="ion-text-center header" routerLink="./home">
          TravelPack
          <ion-avatar class="logo">
            <img src="../../../assets/icon/Logo.png">
          </ion-avatar>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list >
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./listar-contactos">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Contactos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./intereses-usuario-comun">
            <ion-icon name="earth-outline" slot="start"></ion-icon>
            <ion-label>Intereses</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./eventos">
            <ion-icon name="airplane-outline" slot="start"></ion-icon>
            <ion-label>Eventos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" button (click)="goToGallery()">
            <ion-icon name="images-outline" slot="start"></ion-icon>
            <ion-label>Galeria</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./configuracion-notificaciones">
            <ion-icon name="notifications-circle-outline" slot="start"></ion-icon>
            <ion-label>Configurar Notificaciones</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./solicitudes-pendientes">
            <ion-icon name="mail-unread-outline" slot="start"></ion-icon>
            <ion-label>Ver Solicitudes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./chat">
            <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
            <ion-label>Chats</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainMenu"></ion-router-outlet>
</ion-app>
