.scroll-content {
  padding-bottom: 0 !important;
}

#mainMenu {
  background: url('../assets/img/background.jpg');
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 1px;
}
.logo{
  transition: 0.5s;
  margin: 0 auto;
}

.logo:hover{
  transform: rotate(360deg);
}

.header{
  font-family: "big_noodle_titling";
  font-size: 25px;
}

.toolbar-container{
  --min-height: 100px !important;
}

ion-card{
  width: 60em;
}