@import "https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css";
@import "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css";

#mapa-container{
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
}
