#mapa{
    width:100%;
    height: calc(100vh - 100px) !important;
}

.popover-arrow {
    visibility: hidden;
}

.contact-popover .popover-content{ width: 800px; }

@media (max-width: 600px){
    .mobile-style{
      display:none;
    }
  }