<app-navbar></app-navbar>
<ion-content>
  <ion-grid>
    <ion-card-header color=tertiary style="background:#022833">
      <ion-button  name="contact"  (click)="presentPopover($event)">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>  
    </ion-card-header>
    <ion-row id="mapa">
        <app-mapa id="mapa" *ngIf="!editando" [ubicacionViajar]="ubicacionClickeada" [currentLocation]="true" [ubicaciones]="ubicaciones" [marcarUbicacion]="false"></app-mapa>
        <app-mapa id="mapa" *ngIf="editando" [draggable]="true" [currentLocation]="true" [marcarUbicacion]="true" [ubiCentral]="ubicacionClickeada" (ubicacion)="marcarUbicacion($event)" ></app-mapa>
      </ion-row>
</ion-grid>

</ion-content>
<ion-footer class="mobile-style">
  <ion-toolbar>
    <ion-title>TravelPack © 2021</ion-title>
  </ion-toolbar>
</ion-footer>