<app-navbar></app-navbar>
<ion-content>
  <!-- <ion-grid>
    <ion-tabs>
      <ion-tab-bar slot="bottom" class="tabsClass">
        <ion-tab-button tab="emailNotifications">
          <ion-icon name="mail"></ion-icon>
          <ion-label>EMAIL</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pushNotifications">
          <ion-icon name="notifications-circle"></ion-icon>
          <ion-label>PUSH</ion-label>
        </ion-tab-button> 


      </ion-tab-bar>
    </ion-tabs>
  </ion-grid> -->
</ion-content>
<ion-footer style="height: 28px;" class="mobile-style">
  <ion-toolbar>
    <ion-title style="padding-bottom: 22px; font-size: 16px;">TravelPack © 2021</ion-title>
  </ion-toolbar>
</ion-footer>