<app-navbar></app-navbar>
<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size-sm="6" size-xs="12" >
          <ion-card class="card-profile">
            <ion-card-header color=tertiary>
              <ion-card-title  class="ion-text-center">Configuracion de Notificaciones EMAIL</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item-divider>
                <ion-label>
                  Lista de configuraciones:
                </ion-label>
              </ion-item-divider>
              <ion-list *ngFor="let config of configuracionAMostrar | keyvalue">
                <ion-item *ngIf="config.key !== 'idPersona' && config.key !== 'idConfiguracion' ">
                  <ion-label> {{ config.key }} </ion-label>
                  <ion-checkbox place-right checked={{config.value}} (ionChange)="checkedChanged(config.key, config.value)"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="6" size-xs="12" >
          <ion-card class="card-profile">
            <ion-card-header color=tertiary>
              <ion-card-title  class="ion-text-center">Configuracion de Notificaciones PUSH</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item-divider>
                <ion-label>
                  Lista de configuraciones:
                </ion-label>
              </ion-item-divider>
              <ion-list *ngFor="let config1 of configuracionAMostrarPush | keyvalue">
                <ion-item *ngIf="config1.key !== 'idPersona' && config1.key !== 'idConfiguracion'">
                  <ion-label> {{ config1.key }} </ion-label>
                  <ion-checkbox place-right checked={{config1.value}} (ionChange)="checkedChangedPUSH(config1.key, config1.value)"></ion-checkbox>
                </ion-item>
              </ion-list>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-button slot="end" (click)="onAplicar()">APLICAR</ion-button>
      </ion-item>
  </ion-grid>
</ion-content>
