
.pointer {
  cursor: pointer;
}

.ion-buttons {
  margin: auto;
  flex-basis: 50px;
}

// Ionic no toma las alertas como elementros dentro del componente que las llamo, asi que hay que poner los estilos aqui.
.alrtDanger
{
  color: #eb445a !important
}

ion-back-button {
  display: block;
  color: black;
}
