<app-navbar></app-navbar>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-card style="background: white">
        <ion-card-header color=tertiary style="background:#022833">
          <ion-card-title  class="ion-text-center header">Solicitudes Pendientes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div >
            <ion-item color="danger" (click)="showError=false" [hidden]="showError===false" >
              <ion-label > {{ errorMessage }} </ion-label>
              <ion-button color="light" float="left" fill="clear" >
                <ion-icon color="light" float="left"  name="close" slot="icon-only" ></ion-icon>
              </ion-button>
            </ion-item>
          </div>
          <ion-list>
            <ion-item *ngFor="let sol of solicitudes" >
              <ion-avatar>
                <ion-img src="{{sol.imagenPerfil}}"></ion-img>
              </ion-avatar>
              <ion-label> {{ sol.nombre }}  {{sol.apellido}}</ion-label>
              <ion-button (click)="onAceptar(sol.idPersona)">
                <ion-icon name="checkmark-circle-outline" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button (click)="onRechazar(sol.idPersona)">
                <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
          <div *ngIf="solicitudes?.length == 0">
            <ion-card-content style="background-color: white;" >
              <img style="height: 15rem; margin-left: auto;margin-right: auto; display: block;" src="../../assets/img/lobito.png">
              <ion-label style="text-align: center; display: block;">Aún no tienes solicitudes :(</ion-label>
            </ion-card-content>          
          </div>
          </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>TravelPack © 2021</ion-title>
  </ion-toolbar>
</ion-footer>