#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.tweet-info {
  font-size: 0.9em;
}

.name {
  font-weight: 600;
}

.handle {
  padding-left: 4px;
  color: var(--ion-color-medium);
}

.wrapper {
  border-bottom: 1px solid var(--ion-color-light);
}

.highlight {
  color: var(--ion-color-primary);
}

.preview-img {
  border: 1px solid var(--ion-color-light);
  border-radius: 10px;
}