<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paginado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list *ngFor="let usuario of usuarios | slice: 0:slice">
  <ion-item>
    <ion-label>{{usuario.nombre}}<br>{{usuario.email}}</ion-label>
  </ion-item>
</ion-list> 

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando más usuarios...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
