#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.card-sugerencias{
  background:white;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sugerencias-header{
  font-family: 'big_noodle_titling';
  font-size: 25px;
  color:#212211;
}
.publicacion-wrap{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media (max-width: 600px){
  .mobile-style{
    display:none;
  }
}


#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;
  margin: 0;
}

.avatar-sugerencia:hover{
  transform: translateY(-6px);
  opacity: 0.6;
  transition: 0.3s;
}

.ion-textarea {
  border: black;
}

.botonPublicar {
  margin-left: 385px;
  position: floating;
}

.iconosPubPadre {
  margin-left: 395px;
  border: none;
}

.iconosPublicacion {
  height: 0.7cm;
  width: 0.7cm;
  display: flex;
  padding: 0px;
  position: floating;
}

#container a {
  text-decoration: none;
}

.underline
{
  text-decoration: underline;
  cursor: pointer;
}
