<app-navbar></app-navbar>
<ion-content>
  <h1>Mis eventos</h1>
  <ion-item>
    <ion-icon slot="end" name="add-outline" class="pointer" [routerLink]="['/alta-evento']"></ion-icon>
  </ion-item>

  <ion-list #listaEventos>
    <ion-item *ngFor="let evento of eventos">
      <p>{{ evento.nombre }}</p>
      <ion-icon slot="end" name="create-outline" class="pointer"></ion-icon>
      <ion-icon slot="end" name="trash-outline" (click)="eliminarAlert(evento)" class="pointer"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
