h1 {
  margin-left: 1em;
}

.thumbnail {
  max-width: 60px;
  border-radius: 10%;
  margin-right: 1em;
}

.fullwidth{
  margin-left: 20px;
}

.header{
  font-family: 'big_noodle_titling' !important;  
  color:#212211;
  font-size: 25px;
}

@media (max-width: 600px){
  .mobile-style{
    display:none;
  }
}

ion-item::part(native) {
  //WRITE ALL YOUR CSS RULES HERE
  padding-left: 0;
  /** and lots more **/
}
.card-eventos{
  background:white;
  // width: 50%;
  width: 55em;
  margin: 0 auto;
  margin-top: 20px;
}

@media(max-width: 745px){
  .card-eventos{
    width: 100%;
  }
}