<app-navbar></app-navbar>
<ion-content class="ion-padding">
  <ion-card class="card-eventos">
    <ion-card-header color=tertiary style="background:#022833">
      <ion-card-title  class="ion-text-center header">Mis Eventos</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon slot="end" name="add-outline" class="pointer" [routerLink]="['/evento/alta']"></ion-icon>
    </ion-item>

    <ion-spinner color="tertiary" style="top: 50%;left: 50%;" *ngIf="isLoading" name="circles" ></ion-spinner>
    <div *ngIf="!bsEventos">
      <ion-card>
        <ion-card-content style="background-color: white;">
          <img style="height: 15rem; margin-left: auto;margin-right: auto; display: block;" src="../../assets/img/lobito.png">
          <ion-label style="text-align: center; display: block;">Aún no hay eventos :(</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-list #listaEventos>
      <ion-item *ngFor="let evento of bsEventos.value">
        <img [src]="evento.imagen" class="thumbnail" *ngIf="evento.imagen" (click)="ver(evento)">
        <p (click)="ver(evento)" class="fullwidth">{{ evento.nombre }}</p>
        <ion-icon slot="end" *ngIf="evento.estadoSolicitud == 'pendiente'" name="checkmark-outline" class="pointer" (click)="responderSolicitud(evento, 'aceptada')"></ion-icon>
        <ion-icon slot="end" *ngIf="evento.estadoSolicitud == 'pendiente'" name="close-outline" class="pointer" (click)="responderSolicitud(evento, 'cancelada')"></ion-icon>
        <ion-icon slot="end" *ngIf="evento.owner" name="create-outline" class="pointer" (click)="editar(evento)"></ion-icon>
        <ion-icon slot="end" *ngIf="evento.owner" name="trash-outline" (click)="eliminarAlert(evento, true)" class="pointer"></ion-icon>
        <ion-icon slot="end" *ngIf="!evento.owner && evento.estadoSolicitud == 'aceptada'" name="exit-outline" (click)="eliminarAlert(evento, false)" class="pointer"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer style="height: 28px;" class="mobile-style">
  <ion-toolbar>
    <ion-title style="padding-bottom: 22px; font-size: 16px;">TravelPack © 2021</ion-title>
  </ion-toolbar>
</ion-footer>