<ion-content>
  <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-xs="12" size-md="10" offset-md="1">
          <ion-card style="background-color:white">
            <ion-card-content>
              <ion-row>
                <ion-col size-xs="12" class="ion-align-items-center">

                    <ion-buttons class="ion-justify-self-start">
                      <ion-back-button  class="pointer" text=""></ion-back-button>
                    </ion-buttons>

                  <ion-card-title style="justify-self:center;">Travel Pack</ion-card-title>
                </ion-col>
              </ion-row>

              <ion-row style="height: 25vh;">
                <ion-col size-xs="12" size-md="4">
                  <ion-row>
                    <ion-col size="12" style="display: flex; justify-content: center; align-items:flex-start;">
                      <ion-card-header *ngIf="imageSource === undefined">
                        <img style="width: 115px; height: 115px; background-size:contain;" id="foto" src="../../assets/img/defaultProfileImage.png">
                      </ion-card-header>
                      <ion-card-header *ngIf="!(imageSource === undefined)">
                        <img style="width: 120px; height: 120px; background-size:contain;" id="foto" [src]="imageSource">
                      </ion-card-header>
                    </ion-col>
                  </ion-row>

                  <ion-row >
                    <ion-col size="12">
                      <div style="display: flex; justify-content: center;">
                        <input type="file" style="width: 100%;" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*"/>
                        <ion-button fill="outline" (click)="selectImageSource()">Añadir foto
                          <ion-icon name="camera-outline" slot="start" ></ion-icon>
                        </ion-button>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-list class="form-input">
                <ion-item>
                  <!-- <ion-input type="email" placeholder="Email" #txtEmail></ion-input> -->
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item
                *ngIf="!emailCtrl.valid && emailCtrl.touched"
                lines="none"
              >
                <ion-label>
                  Debe de ser un correo valido.
                </ion-label>
              </ion-item>
                <ion-item>
                  <!-- <ion-input type="text" placeholder="Nombre" #txtNombre></ion-input> -->
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" ngModel name="nombre" #txtNombre></ion-input>
                </ion-item>
                <ion-item>
                <!-- <ion-input type="text" placeholder="Apellido" #txtApellido></ion-input> -->
                <ion-label position="floating">Apellido</ion-label>
                <ion-input type="text" ngModel name="apellido" #txtApellido></ion-input>
                </ion-item>
                <ion-item>
                  <!-- <ion-input type="text" placeholder="Direccion" #txtDireccion></ion-input> -->
                  <ion-label position="floating">Direccion</ion-label>
                  <ion-input type="text" ngModel name="direccion" #txtDireccion></ion-input>
                </ion-item>
                <ion-item>
                  <!-- <ion-input type="text" placeholder="Direccion" #txtDireccion></ion-input> -->
                  <ion-label position="floating">Celular</ion-label>
                  <ion-input type="text" ngModel name="celular" #txtCelular></ion-input>
                </ion-item>
                <ion-item>
                  <!-- <ion-input type="text" placeholder="Nickname" #txtNickname></ion-input> -->
                  <ion-label position="floating">Nickname</ion-label>
                  <ion-input type="text" ngModel name="nickname" #txtNickname></ion-input>
                </ion-item>
                <ion-item>
                  <!-- <ion-input type="text" placeholder="Nickname" #txtNickname></ion-input> -->
                  <ion-label position="floating">Pais</ion-label>
                  <!-- <ion-input type="text" ngModel name="pais" #txtPais></ion-input>-->
                  <ion-select #selPais>
                    <ion-select-option *ngFor="let p of paises | keyvalue" value="{{p.value}}">{{p.value}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <!-- <ion-input type="password" placeholder="Contraseña" #txtPass></ion-input> -->
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel"></ion-input>
                </ion-item>
                <ion-item
                *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
                lines="none"
              >
                <ion-label>
                  Debe de contener al menos 6 caracteres.
                </ion-label>
              </ion-item>
                <ion-row>
                  <ion-col>
                    <ion-button type="submit" style="display: block;" fill="outline" [disabled]="!f.valid">
                      Registrarme
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
