ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-card-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#foto
{
  border-radius: 50%;
  flex-grow: 1;
  flex-direction: row;
  background-size: cover;
  max-width: 170px;
  max-height: 170px;
  min-width: 170px;
  min-height: 170px;
  object-fit: cover;
}

#imageAdd
{
  margin-left: 22%;
}

@media (max-width: 600px){
  .mobile-form{
    margin-top: 25%;
  }
}